@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Quicksand:wght@500&display=swap');
.container {
    margin-top: 40px;
    margin-left: 68px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 24px;
    .accordion {
        margin-top: 36px;
        max-width: 660px;
    }
}
